{% extends 'layout.twig' %}

{% block body %}

    <h1>Users list</h1>
    <h3>Number of views : {{ views }} </h3>
    <div>
        <table>
            {% for data in datas %}
                <tr>
                <td><img src="{{data.avatar}}" alt=""></td>
                <td>{{data.last_name}} </td>
                <td>{{data.first_name}}</td>
                </tr>
            {% endfor %}
        </table>

    </div>
    <div>
        <form action="/users" method="post">
            <label for="nom">Nom</label>
            <input type="text" placeholder="nom" name="last_name">
            <label for="prenom">Prénom</label>
            <input type="text" placeholder="prenom" name="first_name">

            <img name="avatar" hidden>
            <input type="submit" name="Submit">
        </form>
    </div>
{% endblock %}
